.u-section-1 .u-sheet-1 {
  min-height: 20px;
}.u-section-2 .u-sheet-1 {
  min-height: 520px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 661px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 643px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 975px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1039px;
  }
}